.picker {
    display: flex;
    flex-direction: column;
    width: 232px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(3, 1, 1, 0.08);
  }

.controls {
  margin-left: 10px;
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: space-around;
}